@model TolokaStudio.Models.EmployeeCreateModel
@using ViewRes.Home


<script src="@Url.Content("~/Scripts/jquery/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/sumkaScripts/create_employee.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/tiny_mce_src.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/combinedHTML-tinymce.js")" type="text/javascript"></script>
<div class="container">
    @using (Html.BeginForm())
    {
           @Html.ValidationSummary(true)
        <fieldset>
            <div class="row">
                @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.HtmlBanner))
                <div class="span6">
                    @Html.HiddenFor(model => model.StoreID)

                    @Html.LabelFor(model => model.FirstName)
                    @Html.EditorFor(model => model.FirstName)
                    @Html.ValidationMessageFor(model => model.FirstName, null, new { @class = "required" })

                    @Html.LabelFor(model => model.LastName)
                    @Html.EditorFor(model => model.LastName, new { @class = "storecreatefield" })
                    @Html.ValidationMessageFor(model => model.LastName, null, new { @class = "required" })

                    @Html.LabelFor(model => model.Email)
                    @Html.EditorFor(model => model.Email, new { @class = "storecreatefield" })
                    @Html.ValidationMessageFor(model => model.Email, null, new { @class = "required" })


                    @Html.HiddenFor(model => model.ImagePath)
                </div>
                <div class="span10">
                    <iframe id="templatesrc" name="templatesrc" src="/Store/ImageUpload" frameborder="0"
                        style="float: left; width: 400px; height: 320px"></iframe>
                    @Html.ValidationMessageFor(model => model.ImagePath, null, new { @class = "required" })
                </div>
            </div>
            <div class="row">
                <div class="span24">
                    <fieldset>
                        @Html.LabelFor(m => m.HtmlDetail)
                        @Html.TextAreaFor(m => m.HtmlDetail,
    new Dictionary<string, object> {
      {"class", "html tinymce"}
   })
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="span24">
                    <input type="submit" value="Create" />
                </div>
            </div>
        </fieldset>
    }
    <div>
        @Html.ActionLink(Home.BackToList, "Index")
    </div>
</div>
<script type="text/javascript">
//<![CDATA[
    $(document).ready(function () {
        $('#templatesrc').load(function () {
            EmployeeCreator.init();
        });

        ajaxLoad('@Request.Url.Scheme' + "://" + '@Request.Url.DnsSafeHost' + ":" + '@Request.Url.Port' + '@Request.ApplicationPath');

    });
    
//]]>
</script>
